{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="form-wrapper">
    <h2 class="title">Encrypting message</h2>

    <form method="POST" action="/">
        {{ form.csrf_token }}
        <fieldset class="form-field" style="width: auto;">
            {{ form.message.label }}</br>
            {{ form.message(size=100) }}
        </fieldset>

        <fieldset class="form-field" style="width: auto;">
            {{ form.types.label }}</br>
            {{ form.types }}
        </fieldset>

        <div style="width: auto;">
            {{ form.submit }}
        </div>
        
    </form>
</div>

<h2>Your encrypted message</h2>
<div>
    <p id="result">{{ result }}</p>
</div>

{% endblock %}