{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Enter your name for being greeted</h1>
<form action="/hello" method="post">
    <label for="entry">Enter your name <input type="text" name="name"></label>
    <input type="submit" value="Send">
</form>
<h1>Do you want to sort a list ?</h1>
<form action="/sort" method="post">
    <label for="entry">Value 1<input type="number" name="v1" min="0"></label></br>
    <label for="entry">Value 2<input type="number" name="v2" min="0"></label></br>
    <label for="entry">Value 3<input type="number" name="v3" min="0"></label></br>
    <label for="entry">Value 4<input type="number" name="v4" min="0"></label></br>
    <label for="entry">Value 5<input type="number" name="v5" min="0"></label></br>
    <input type="submit" value="Send">
</form>

{% endblock %}