{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="form-wrapper">
    <h2 class="title">Encrypting message</h2>

    <form method="POST" action="/">
        {{ form.csrf_token }}
        <fieldset class="form-field">
            {{ form.message.label }}
            {{ form.message(size=20) }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.types.label }}
            {{ form.types }}
        </fieldset>

        {{ form.submit }}

    </form>
</div>

<h2>Your encrypted message</h2>
<div>
    <p id="result">{{ result }}</p>
</div>

{% endblock %}